body {
    font-family: monospace;
    line-height: 1.5;
    margin: 20px;
    min-height: 100%;
    font-size: 15px;
}

h1 {
    font-size: 50px;
}   

h2 {
    font-size: 30px;
    color: darkslategray;
}

h3 {
    font-size: 18px;
    color: gray;
}

header, footer {
    display: none;
}

